In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import seaborn as sns

In [121]:
F=pd.read_csv('is_holiday.csv')
F=pd.DataFrame(F)
F=F.loc[:, ~F.columns.str.contains('^Unnamed')]
F=F[F.is_holiday==True]
F=F.set_index('date')
F=F.reset_index()
F

          date  count_case  is_holiday
0   2017-01-01           5        True
1   2017-01-15           4        True
2   2017-02-20           2        True
3   2017-05-29           1        True
4   2017-07-04           6        True
5   2017-09-04           2        True
6   2017-10-12           2        True
7   2017-11-11           3        True
8   2017-11-23           4        True
9   2018-01-01           2        True
10  2018-01-15           1        True
11  2018-02-19           2        True
12  2018-07-04           2        True
13  2018-09-03           1        True
14  2018-10-08           3        True
15  2018-11-11           2        True
16  2018-11-22           1        True
17  2018-12-25           2        True
18  2019-01-01           2        True
19  2019-01-15           3        True
20  2019-02-18           2        True
21  2019-05-27           2        True
22  2019-07-04           2        True
23  2019-09-02           2        True
24  2019-10-14           3        True
25  2019-11-11           3        True
26  2019-11-28           2        True
27  2019-12-25           2        True
28  2020-01-01           4        True
29  2020-01-15           4        True
30  2020-02-17           2        True
31  2020-05-25           5        True
32  2020-07-04           2        True
33  2020-10-12           1        True
34  2020-11-11           2        True
35  2020-11-26           1        True
36  2021-01-15           2        True
37  2021-05-30           2        True
38  2021-07-04           2        True
39  2021-09-06           1        True
40  2022-01-01           1        True

In [74]:
# NF=pd.read_csv('is_holiday1.csv')
# NF=pd.DataFrame(NF)
# NF=NF.loc[:, ~NF.columns.str.contains('^Unnamed')]
# N=[NF.is_holiday1==True]
# NF=NF.set_index('date')

In [73]:
# F.to_csv('/Users/zhouxilong/Desktop/IE6600/only_holiday.csv')
# NF.to_csv('/Users/zhouxilong/Desktop/IE6600/only_NFholiday.csv')

In [105]:
only=pd.read_csv('only_holiday.csv')
only

          date  count_case  is_holiday
0     2017/1/1           5        True
1    2017/1/15           4        True
2    2017/2/20           2        True
3    2017/5/29           1        True
4     2017/7/4           6        True
5     2017/9/4           2        True
6   2017/10/12           2        True
7   2017/11/11           3        True
8   2017/11/23           4        True
9     2018/1/1           2        True
10   2018/1/15           1        True
11   2018/2/19           2        True
12    2018/7/4           2        True
13    2018/9/3           1        True
14   2018/10/8           3        True
15  2018/11/11           2        True
16  2018/11/22           1        True
17  2018/12/25           2        True
18    2019/1/1           2        True
19   2019/1/15           3        True
20   2019/2/18           2        True
21   2019/5/27           2        True
22    2019/7/4           2        True
23    2019/9/2           2        True
24  2019/10/14           3        True
25  2019/11/11           3        True
26  2019/11/28           2        True
27  2019/12/25           2        True
28    2020/1/1           4        True
29   2020/1/15           4        True
30   2020/2/17           2        True
31   2020/5/25           5        True
32    2020/7/4           2        True
33  2020/10/12           1        True
34  2020/11/11           2        True
35  2020/11/26           1        True
36   2021/1/15           2        True
37   2021/5/30           2        True
38    2021/7/4           2        True
39    2021/9/6           1        True
40    2022/1/1           1        True

In [122]:
Holi={'New Year‘s day':['2017-01-01','2018-01-01','2019-01-01','2020-01-01','2021-01-01','2022-01-01'],
      'Martin Luther King‘s day':['2017-01-15','2018-01-15','2019-01-15','2020-01-15','2021-01-15','2022-01-15'],
      'prisidents‘ day':['2017-02-20','2018-02-19','2019-02-18','2020-02-17','2021-02-17','2022-02-21'],
      'Remembrance day':['2017-05-29','2018-05-28','2019-05-27','2020-05-25','2021-05-30','2022-05-30'],
      'Independence day':['2017-07-04','2018-07-04','2019-07-04','2020-07-04','2021-07-04','2022-07-04'],
      'Labor day':['2017-09-04','2018-09-03','2019-09-02','2020-09-07','2021-09-06','2022-09-05'],
      'Columbus day':['2017-10-12','2018-10-08','2019-10-14','2020-10-12','2021-10-11','2022-10-11'],
      'Veterans day':['2017-11-11','2018-11-11','2019-11-11','2020-11-11','2021-11-11','2022-11-11'],
      'Thanksgiving day':['2017-11-23','2018-11-22','2019-11-28','2020-11-26','2021-11-25','2022-11-24'],
      'Christmas day':['2017-12-25','2018-12-25','2019-12-25','2020-12-25','2021-12-25','2022-12-25']}
# k2 = [k for k, v in Holi.items() if v =='2017-12-25']
# print(k2)
for key, value in Holi.items():
    if value=='2017-12-25':
        print(key)
key

'Christmas day'

In [123]:
Holiday_name=[]
df1 = F.groupby(['date'])['date'].count()
day1=df1.index
day=day1.values.tolist()
for i in range(len(day)):
    A=day[i]
    for key, value in Holi.items():
        if A in value:
            Holiday_name.append(key)
Holiday_name =pd.DataFrame(Holiday_name)
F['Holiday_name']=Holiday_name
F

          date  count_case  is_holiday              Holiday_name
0   2017-01-01           5        True            New Year‘s day
1   2017-01-15           4        True  Martin Luther King‘s day
2   2017-02-20           2        True           prisidents‘ day
3   2017-05-29           1        True           Remembrance day
4   2017-07-04           6        True          Independence day
5   2017-09-04           2        True                 Labor day
6   2017-10-12           2        True              Columbus day
7   2017-11-11           3        True              Veterans day
8   2017-11-23           4        True          Thanksgiving day
9   2018-01-01           2        True            New Year‘s day
10  2018-01-15           1        True  Martin Luther King‘s day
11  2018-02-19           2        True           prisidents‘ day
12  2018-07-04           2        True          Independence day
13  2018-09-03           1        True                 Labor day
14  2018-10-08           3        True              Columbus day
15  2018-11-11           2        True              Veterans day
16  2018-11-22           1        True          Thanksgiving day
17  2018-12-25           2        True             Christmas day
18  2019-01-01           2        True            New Year‘s day
19  2019-01-15           3        True  Martin Luther King‘s day
20  2019-02-18           2        True           prisidents‘ day
21  2019-05-27           2        True           Remembrance day
22  2019-07-04           2        True          Independence day
23  2019-09-02           2        True                 Labor day
24  2019-10-14           3        True              Columbus day
25  2019-11-11           3        True              Veterans day
26  2019-11-28           2        True          Thanksgiving day
27  2019-12-25           2        True             Christmas day
28  2020-01-01           4        True            New Year‘s day
29  2020-01-15           4        True  Martin Luther King‘s day
30  2020-02-17           2        True           prisidents‘ day
31  2020-05-25           5        True           Remembrance day
32  2020-07-04           2        True          Independence day
33  2020-10-12           1        True              Columbus day
34  2020-11-11           2        True              Veterans day
35  2020-11-26           1        True          Thanksgiving day
36  2021-01-15           2        True  Martin Luther King‘s day
37  2021-05-30           2        True           Remembrance day
38  2021-07-04           2        True          Independence day
39  2021-09-06           1        True                 Labor day
40  2022-01-01           1        True            New Year‘s day

In [124]:
# F.to_csv('/Users/zhouxilong/Desktop/IE6600/only_holiday(with_name).csv')

In [125]:
NF=pd.read_csv('is_NMholiday(new).csv')
NF

      Unnamed: 0        date  count_case  is_holiday1
0              0  2017-01-01           5        False
1              1  2017-01-03           2        False
2              2  2017-01-04           4        False
3              3  2017-01-05           2        False
4              4  2017-01-06           1        False
...          ...         ...         ...          ...
1486        1486  2022-06-10           1        False
1487        1487  2022-06-18           1        False
1488        1488  2022-06-19           1        False
1489        1489  2022-08-27           1        False
1490        1490  2022-08-30           1        False

[1491 rows x 4 columns]

In [127]:
NF=pd.read_csv('is_NMholiday(new).csv')
NF=pd.DataFrame(NF)
NF=NF.loc[:, ~NF.columns.str.contains('^Unnamed')]
NF=NF[NF.is_holiday1==True]
NF=NF.set_index('date')
NF=NF.reset_index()
NF

          date  count_case  is_holiday1
0   2017-02-02           3         True
1   2017-02-14           3         True
2   2017-04-01           1         True
3   2017-04-20           3         True
4   2017-06-14           2         True
5   2017-09-11           3         True
6   2017-11-01           1         True
7   2018-02-02           1         True
8   2018-02-14           4         True
9   2018-03-17           1         True
10  2018-04-01           7         True
11  2018-04-18           5         True
12  2018-04-20           3         True
13  2018-05-11           4         True
14  2018-06-14           5         True
15  2019-02-02           3         True
16  2019-02-14           2         True
17  2019-04-01           2         True
18  2019-04-18           3         True
19  2019-04-20           3         True
20  2019-05-11           2         True
21  2019-09-11           1         True
22  2019-11-01           4         True
23  2020-02-02           2         True
24  2020-02-14           3         True
25  2020-03-17           1         True
26  2020-04-01           1         True
27  2020-04-18           2         True
28  2020-11-01           2         True
29  2021-02-02           2         True
30  2021-02-14           1         True
31  2021-03-17           2         True
32  2021-04-01           4         True
33  2021-04-18           2         True
34  2021-04-20           1         True
35  2021-05-11           1         True
36  2021-06-14           1         True
37  2021-09-11           2         True
38  2022-04-01           1         True
39  2022-04-20           1         True

In [129]:
NM_Holi={'Groundhog day':['2017-02-02','2018-02-02','2019-02-02','2020-02-02','2021-02-02','2022-02-02'],
         'Valentine‘s day':['2017-02-14','2018-02-14','2019-02-14','2020-02-14','2021-02-14','2022-02-14'],
         'Saint Patrick‘s day':['2017-03-17','2018-03-17','2019-03-17','2020-03-17','2021-03-17','2022-03-17'],
         'April Fool‘s day':['2017-04-01','2018-04-01','2019-04-01','2020-04-01','2021-04-01','2022-04-01'],
         'Good Friday':['2017-04-18','2018-04-18','2019-04-18','2020-04-18','2021-04-18','2022-04-18'],
         'Easter':['2017-04-20','2018-04-20','2019-04-20','2020-04-20','2021-04-20','2022-04-20'],
         'Mother‘s day':['2017-05-11','2018-05-11','2019-05-11','2020-05-11','2021-05-11','2022-05-11'],
         'Flag day':['2017-06-14','2018-06-14','2019-06-14','2020-06-14','2021-06-14','2022-06-14'],
         '911 Anniversary':['2017-09-11','2018-09-11','2019-09-11','2020-09-11','2021-09-11','2022-09-11'],
         'All Saints‘s day':['2017-11-01','2018-11-01','2019-11-01','2020-11-01','2021-11-01','2022-11-01']}

In [131]:
NMHoliday_name=[]
df1 = NF.groupby(['date'])['date'].count()
day1=df1.index
day=day1.values.tolist()
for i in range(len(day)):
    A=day[i]
    for key, value in NM_Holi.items():
        if A in value:
            NMHoliday_name.append(key)
NMHoliday_name =pd.DataFrame(NMHoliday_name)
NF['Holiday_name']=NMHoliday_name
NF

          date  count_case  is_holiday1         Holiday_name
0   2017-02-02           3         True        Groundhog day
1   2017-02-14           3         True      Valentine‘s day
2   2017-04-01           1         True     April Fool‘s day
3   2017-04-20           3         True               Easter
4   2017-06-14           2         True             Flag day
5   2017-09-11           3         True      911 Anniversary
6   2017-11-01           1         True     All Saints‘s day
7   2018-02-02           1         True        Groundhog day
8   2018-02-14           4         True      Valentine‘s day
9   2018-03-17           1         True  Saint Patrick‘s day
10  2018-04-01           7         True     April Fool‘s day
11  2018-04-18           5         True          Good Friday
12  2018-04-20           3         True               Easter
13  2018-05-11           4         True         Mother‘s day
14  2018-06-14           5         True             Flag day
15  2019-02-02           3         True        Groundhog day
16  2019-02-14           2         True      Valentine‘s day
17  2019-04-01           2         True     April Fool‘s day
18  2019-04-18           3         True          Good Friday
19  2019-04-20           3         True               Easter
20  2019-05-11           2         True         Mother‘s day
21  2019-09-11           1         True      911 Anniversary
22  2019-11-01           4         True     All Saints‘s day
23  2020-02-02           2         True        Groundhog day
24  2020-02-14           3         True      Valentine‘s day
25  2020-03-17           1         True  Saint Patrick‘s day
26  2020-04-01           1         True     April Fool‘s day
27  2020-04-18           2         True          Good Friday
28  2020-11-01           2         True     All Saints‘s day
29  2021-02-02           2         True        Groundhog day
30  2021-02-14           1         True      Valentine‘s day
31  2021-03-17           2         True  Saint Patrick‘s day
32  2021-04-01           4         True     April Fool‘s day
33  2021-04-18           2         True          Good Friday
34  2021-04-20           1         True               Easter
35  2021-05-11           1         True         Mother‘s day
36  2021-06-14           1         True             Flag day
37  2021-09-11           2         True      911 Anniversary
38  2022-04-01           1         True     April Fool‘s day
39  2022-04-20           1         True               Easter

In [132]:
NF.to_csv('/Users/zhouxilong/Desktop/IE6600/only_NFholiday(with_name).csv')